.mainProfile {
    @apply flex w-[88%] min-h-[75vh] h-auto mx-[6%] ;
    /* background-color: rgb(197, 215, 229); */
    background-color: rgb(218, 219, 219);
}

.left-section {
    @apply w-[30%] pb-[7%] h-[70%];
}

.right-section {
    @apply w-[70%] w-[70%] h-[300px];
    /* background-color: rgb(197, 215, 229); */
}

.left-section:hover, .left-section:hover #proField #proEmail {
    @apply transition-all duration-[0.8s] ease-[ease-in-out];
}

.lsbackground, .left-section #proEmail{
    /* background-color: rgb(220, 248, 238); */
    /* background-color: rgb(173, 204, 214); */
    background-color: rgb(159, 173, 177);
}

.roundImg {
    @apply w-[14em] h-[14em] object-cover my-[8%] m-auto rounded-[50%] hover:transition-all hover:duration-[0.5s] hover:ease-[ease-in-out] hover:p-[5px];
}

/* .roundImageHover:hover{
    box-shadow: 0 0 10px 8px rgba(99, 69, 130);
} */

#proUName {
    @apply text-[2em] text-center font-medium mt-[2%] mx-[2%] ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.proUNameTextColor{
    /* color: rgb(119, 61, 176); */
    /* color: rgb(67, 115, 212) */
}

#proField {
    @apply text-[1.3em] overflow-hidden w-[90%] ml-[5%] pl-[10%] py-[2%] rounded-[5%]
}

/* .proFieldHover:hover{
    box-shadow: 0px 0px 8px 5px rgb(141, 60, 222);
} */

#proEmail {
    @apply bg-[white] w-[72%];
}

#proHeading {
    @apply font-semibold text-center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#profileHeadingBorder{
    margin-left: 34%
}

#proUpdate {
    @apply text-center text-[1.5em] font-semibold text-[white] flex items-center justify-center mt-[6%];
}

#proUpdate #proUpdateBtn {
    @apply w-[30%] bg-[green] px-[2%] py-[1%] rounded-[10%] text-center;
    /* visibility: hidden; */
}


.profilePropertyBtn {
    @apply text-[white] text-[1.2em] mt-[5%] px-[8%] py-[2%] rounded-[12%];
}

#propertyBtn {
    @apply flex gap-[2em] ml-[10%];
}